<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Hoi An 360</title>
  <link rel="stylesheet" href="styles.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" th:href="@{/css/styles.css}" />

</head>
<!DOCTYPE html>
<img src = "https://www.citypassguide.com/media/slideshow/hoian-banner.jpg.1758x854_q85_crop.jpg" style="width:100%;height:auto;">
<div class="header">
  <a href="/" class="logo">Welcome to Hoi An</a>
  <div class="header-right">
    <a href="/">Home</a>
    <a href="/hoiAn360">HoiAn360</a>
    <a href="/destination">Destinations</a>
    <a href="/cuisine">Cuisine</a>
    <a href="https://www.booking.com/accommodation/city/vn/hoi-an.en-gb.html?aid=373420;label=city-hoi-an-gM_ZSK0cLKji00fkv3WNaAS388464219592%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap%3Aneg%3Afi%3Atikwd-401166933%3Alp9040331%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9Ydj4ck6nIj5YRjPru0SpaEk;sid=5ce2aabe3cf57a8ef5a5f96b88c7a2c2;keep_landing=1&gclid=CjwKCAjw9e6SBhB2EiwA5myr9laJ0T8c9XqFioXndBHViRjNL4nRe7mO9u0ldtD4tsLej519oJ9aeRoC6g0QAvD_BwE&" target="_blank">Accommodation</a>
  </div>
</div>
<body>
<hr style="width:100%">
<p class="title" align ="justify">Cuisine</p>
<hr style="width:50%;margin: auto;">

<p class="body" align="justify">
  Observe the beauty of Hoi An through a 360-degree tour
</p>

<br>
<p style="text-align: center;">
<embed src="https://vietnam.travel/sites/default/files/360Tour/HoiAn/index.htm" class ="embeded" width="1000" height = "500">
</p>
<hr style="width:100%">
<p class = "body" align ="center">
  The website is only used for educational purpose, many content here may have been crawled without any permission
  <br>
  For any complaint, please contact us.
</p>
<br>
<br>
<br>
<div class="footer">
  <p>Contact us: <a href = "mailto: hoang.lh@sis.hudst.edu.vn" style="font-style: italic">hoang.lh@sis.hudst.edu.vn</a></p>
</div>
</body>
</html>