<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Hello World!</title>
  <link rel="stylesheet" href="styles.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" th:href="@{/css/styles.css}" />

</head>
<!DOCTYPE html>
<img src = "https://www.citypassguide.com/media/slideshow/hoian-banner.jpg.1758x854_q85_crop.jpg" style="width:100%;height:auto;">
<div class="header">
  <a href="#default" class="logo">Welcome to Hoi An</a>
  <div class="header-right">
    <a href="/">Home</a>
    <a href="/destination">Destinations</a>
    <a href="/cuisine">Cuisine</a>
    <a href="/">Lodging</a>
  </div>
</div>
<!--<body style="background:url('https://www.itourvn.com/images/easyblog_articles/99/b2ap3_large_Hoi-an-vietnam.jpg') no-repeat;background-size: auto 100%;">-->
<body>

<hr style="width:100%">
<p class="title" align ="justify">About</p>
<p class = "body" align ="justify">
Hoi An Ancient Town is an exceptionally well-preserved example of a South-East Asian trading port dating from the 15th to the 19th century.
Its buildings and its street plan reflect the influences, both indigenous and foreign, that have combined to produce this unique heritage site.
<br>
Read more at <a href = "https://en.wikipedia.org/wiki/H%E1%BB%99i_An" style="font-style: italic">here</a>
</p>

<hr style="width:100%">
  <p id="colorstrip" class="body">
    <p class="title" align ="justify">What's on in Hoi An</p>
    <ul>
      <li>
        <a href="https://e.vnexpress.net/photo/places/over-120-american-tourists-visit-hoi-an-as-inbound-travel-reopens-4448008.html">Over 120 American tourists visit Hoi An as inbound travel reopens</a>
      </li>
      <li>
        <a href="https://e.vnexpress.net/hoi-an/tag-104064.html#:~:text=Hoi%20An%2C%20Phong%20Nha%20among%20Vietnam%27s%2010%20most%20welcoming%20tourist%20destinations">Hoi An, Phong Nha among Vietnam's 10 most welcoming tourist destinations </a>
      </li>
      </li>
      <li>
        <a href="https://vietnam.travel/things-to-do/information-travellers-novel-coronavirus-vietnam">Info for travelers on Covid-19 in Vietnam</a>
      </li>
    </ul>
  </p>

<hr style="width:100%">
<p class="title" align ="justify">Hoi An Location</p>
<div class="mapouter">
  <div class="gmap_canvas">
    <iframe width="500" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=H%E1%BB%99i%20An,%20Qu%E1%BA%A3ng%20Nam&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    <a href="https://123movies-to.org"></a>
    <br>
    <style>.mapouter{position:relative;margin-right:auto;margin-left:auto;height:300px;width:500px;}</style>
    <a href="https://www.embedgooglemap.net">google maps embed responsive</a>
    <style>.gmap_canvas {overflow:hidden;background:none!important;height:300px;width:500px;}</style>
  </div>
</div>

<hr style="width:100%">
<br>
<br>
<br>
<div class="footer">
  <p>Contact us: <a href = "mailto: hoang.lh@sis.hudst.edu.vn" style="font-style: italic">hoang.lh@sis.hudst.edu.vn</a></p>
</div>
</body>
</html>