<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hoi An Destinations</title>
    <link rel="stylesheet" href="styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}" />

</head>
<!DOCTYPE html>
<img src = "https://www.citypassguide.com/media/slideshow/hoian-banner.jpg.1758x854_q85_crop.jpg" style="width:100%;height:auto;">
<div class="header">
    <a href="/" class="logo">Welcome to Hoi An</a>
    <div class="header-right">
        <a href="/">Home</a>
        <a href="/hoiAn360">HoiAn360</a>
        <a href="/destination">Destinations</a>
        <a href="/cuisine">Cuisine</a>
        <a href="https://www.booking.com/accommodation/city/vn/hoi-an.en-gb.html?aid=373420;label=city-hoi-an-gM_ZSK0cLKji00fkv3WNaAS388464219592%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap%3Aneg%3Afi%3Atikwd-401166933%3Alp9040331%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9Ydj4ck6nIj5YRjPru0SpaEk;sid=5ce2aabe3cf57a8ef5a5f96b88c7a2c2;keep_landing=1&gclid=CjwKCAjw9e6SBhB2EiwA5myr9laJ0T8c9XqFioXndBHViRjNL4nRe7mO9u0ldtD4tsLej519oJ9aeRoC6g0QAvD_BwE&"  target="_blank">Accommodation</a>
    </div>
</div>
<!--<body style="background:url('https://www.itourvn.com/images/easyblog_articles/99/b2ap3_large_Hoi-an-vietnam.jpg') no-repeat;background-size: auto 100%;">-->
<body>

<hr style="width:100%">
<p class="title" align ="justify">Destinations</p>
<hr style="width:50%;margin: auto;">

<p class="subtitle">1. Chua Cau</p>
<p class="body" align="justify">
    Chua Cau is a gem in the heart of Hoi An. The bridge was built in the late 16th century and is known as the Japanese bridge. In the middle of the bridge there is a small temple worshiping Huyen Thien Dai De. The covered bridge is quite unique with decorative textures and motifs showing a harmonious combination of Vietnamese, Chinese, Japanese, and Western architectural styles. The bridge crosses the creek flowing into the Thu Bom river, bordering between Nguyen Thi Minh Khai and Tran Phu streets.
</p>
<img src="https://cdn3.ivivu.com/2014/10/Du-lich-hoi-an-cam-nang-tu-a-den-z-iVIVU.com-41.jpg" width= 50% height=auto>
<br>

<hr style="width:50%;margin: auto;">
<p class="subtitle">2. Phung Hung House</p>
<p class="body" align="justify">
    Perhaps the most famous building in Hoi An, the Phung Hung House dates back over 200 years. Originally a merchant house for a family selling spices, silk, and chinaware, the house features colorful hanging lanterns, dark red and brown colors, a Japanese-style roof, and bright wall hangings and Chinese inscriptions.
    <br>
    The house itself is somewhat of an architectural marvel—the 80 columns that keep the structure up are set on a special lotus-shaped base that protects the columns from moisture and termites. The back of the house (which has a balcony right over the canal, where goods could be grabbed right as they arrived by boat) can be completely closed off in case of a flood, protecting the rest of the house against the damaging waters.
</p>
<img src="https://www.planetware.com/wpimages/2019/10/vietnam-hoi-an-top-attractions-phung-hung-house.jpg" width= 50% height=auto>
<br>

<hr style="width:50%;margin: auto;">
<p class="subtitle">3. An Bang Beach</p>
<p class="body" align="justify">
    An Bang, Hoi An's whitest and softest beach, is just minutes from the town center. It offers amazing open views over the ocean, with the Cham islands dotting the turquoise waters in the distance.
    <br>
    Although the shoreline offers plenty in the way of resorts, restaurants, and entertainment, the beach itself remains quiet and unspoiled. In fact, some of the best seafood in the area comes from small shacks set on the sand, many of which will also rent out sun beds if you don't feel like sitting at one of their tables.
</p>
<img src="https://www.planetware.com/wpimages/2019/10/vietnam-hoi-an-top-attractions-an-bang-beach.jpg" width= 50% height=auto>
<br>

<hr style="width:50%;margin: auto;">
<p class="subtitle">4. Hoi An Ancient Town</p>
<p class="body" align="justify">
    The entire old center of Hoi An is now a designated UNESCO World Heritage Site, a melting pot of cultures, architecture, and monuments in one of the busiest ancient trading ports in Southeast Asia.
    <br>
    Over 30 hectares and 1,107 timber frame buildings make up the well-preserved historical center, with a mix of religious buildings, monuments, and family homes. Rows of beautiful wooden and brick 15th-century to 18th-century houses line up the pedestrian streets here. The covered Japanese bridge is also part of it.
</p>
<img src="https://www.planetware.com/wpimages/2019/10/vietnam-hoi-an-top-attractions-hoi-an-ancient-town.jpg" width= 50% height=auto>
<br>

<hr style="width:50%;margin: auto;">
<p class="subtitle">5. Fukian Assembly Hall</p>
<p class="body" align="justify">
    Originally a pagoda, this building complex has undergone a series of transformations and restorations since it was first built in the 17th century. It was eventually converted into an assembly hall for the Fujian ethnic group, the largest ethnic minority group in Vietnam. Traditional assembly halls (which are common in China) act as both temples and cultural centers, where events and festivals are held.
    <br>
    At the Fukian Assembly Hall, colorful and ornate dragons, gardens, and gates dominate the space. Mythical animals—including dragons and a phoenix—mix in with turtles, fish, and other creatures in the design around the many bells and statues that occupy the main hall.
</p>
<img src="https://www.planetware.com/wpimages/2019/10/vietnam-hoi-an-top-attractions-fukian-assembly-hall.jpg" width= 50% height=auto>
<br>

<hr style="width:50%;margin: auto;">
<p class="subtitle">6. Thanh Ha Pottery Village</p>
<p class="body" align="justify">
    Whether you're just looking to buy some pottery or ready to get your hands dirty and learn how to shape some pottery yourself, the beautiful Thanh Ha Pottery Village won't disappoint. The village dates back to the 15th-century and it was originally created to supply decorative pottery for the Imperial City of Hue.
    <br>
    Over the centuries, the village has developed a number of techniques that allow crafters to create everything from bricks and tiles to bowls and pots—and to do it all by hand in a stunning rainbow of pinks, greens, and blacks. Today, Hoi An's ceramics are sold all over the world.
</p>
<img src="https://www.planetware.com/wpimages/2019/10/vietnam-hoi-an-top-attractions-thanh-ha-pottery-village.jpg" width= 50% height=auto>

<hr style="width:100%">
<p class = "body" align ="center">
    The website is only used for educational purpose, many content here may have been crawled without any permission
    <br>
    For any complaint, please contact us.
</p>
<br>
<br>
<br>
<div class="footer">
    <p>Contact us: <a href = "mailto: hoang.lh@sis.hudst.edu.vn" style="font-style: italic">hoang.lh@sis.hudst.edu.vn</a></p>
</div>
</body>
</html>